{{define "title"}}YSTV Elections - 404 page not found{{end}}
{{define "content"}}
    <div class="container prevent-select">
        <div class="card">
            <div class="card-content">
                <p>404 page not found!</p>
            </div>
        </div>
    </div><br><br><br>
{{end}}