{{define "footer"}}
    <footer style="text-align: center; position: fixed; margin: 0 0 0 -10px; bottom: 0; width: 100%; height: 40px;" class="prevent-select">Created by Liam Burnand - 2023-{{ call .PageParams.GetYear}}
    </footer>
{{end}}