{{define "title"}}YSTV Elections - Admin Error{{end}}
{{define "content"}}
    <div class="container">
        <div class="card prevent-select">
            <div class="card-content">
                <p>Unfortunately, we have experienced an error...<br>
                    Error code: <code>{{.Code}}</code><br>
                    The error message produced by the server is the following: <code>{{.Error}}</code><br><br><br>
                    If you don't understand this error then message <code>Liam Burnand</code> on slack for assistance.
                </p>
            </div>
        </div>
    </div><br><br><br>
{{end}}