{{define "title"}}YSTV Elections - Admin Error{{end}}
{{define "content"}}
    <div class="container">
        <div class="tabs is-toggle is-toggle-rounded">
            <ul>
                <li>
                    <a href="/admin">
                        <span>Admin Home</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/elections">
                        <span>Elections</span>
                    </a>
                </li>
                <li>
                    <a href="/admin/voters">
                        <span>Voters</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="card prevent-select">
            <div class="card-content">
                <p>Unfortunately we have experienced an error...<br>
                    The error message produced by the server is the following: <code>{{.PageData.Error}}</code><br><br><br>
                    If you don't understand this error then message <code>Liam Burnand</code> on slack for assistance.
                </p>
            </div>
        </div>
    </div><br><br><br>
{{end}}