{{define "title"}}YSTV Elections - Home{{end}}
{{define "content"}}
    <div class="container prevent-select">
        <div class="card">
            <div class="card-content">
                <p>I am afraid this part is just the welcome section, if you are an admin then you'll know
                    where to go but if you're a voter then you will be emailed a link that will take you to the correct
                    election.</p>
                {{if .PageData.AllowRegistration}}
                    <br><br>
                    <p>If you have not registered to vote then use the link below to sign up to vote.<br>
                    <a href="{{.PageData.URL}}">{{.PageData.URL}}</a></p>
                {{end}}
            </div>
        </div>
    </div><br><br><br>
{{end}}