{{define "title"}}YSTV Elections - Registration{{end}}
{{define "content"}}
    <div class="container">
        <div class="card prevent-select">
            <div class="card-content">
                <p>Please use the QR code below to register!</p>
                <br>
                <br>
                <img alt="" max-height="400px" src="/public/registration-qr-nice.png"
                     style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:850px;font-size:13px;padding-left: inherit;padding-right: inherit"
                     width="400px"/>
                <br>
                <br>
                <p><a class="title" href="https://stv.ystv.co.uk/registration">https://stv.ystv.co.uk/registration</a><br>
                    If there's a problem with the QR code above then use the one below.</p>
                <br>
                <br>
                <img alt="" max-height="400px" src="/public/registration-qr-normal.png"
                     style="border:none;display:block;outline:none;text-decoration:none;height:auto;width:850px;font-size:13px;padding-left: inherit;padding-right: inherit"
                     width="400px"/>
                <br>
                <br>
            </div>
        </div>
        <br><br><br>
    </div>
{{end}}