{{define "title"}}YSTV Elections - Vote{{end}}
{{define "content"}}
    <div class="container prevent-select">
        <div class="card">
            <div class="card-content">
                <p class="title">Vote below</p>
                <p>Welcome to the election of ({{.Election.Name}}), {{.Voter.Name}}<br>
                    {{if .Election.Description}}<br/>
                <br/>Here is a brief description of the role: {{.Election.Description}}{{end}}<br><br>
                    Use the up and down arrows next to each candidate to position it, where 1 is your preference and then
                    everyone down from there.<br>
                    There is also a "Remove from ballot" button that would exclude a candidate from your ballot, this action can be undone if you wish as there will be a button below called "Include in ballot".<br>
                    You need at least one candidate in the election to vote, even if that candidate is R.O.N.<br><br>
                    {{if ne .Election.Seats 1}}
                        There are {{.Election.Seats}} seats available in this election.
                    {{else}}
                        There is 1 seat available in this election.
                    {{end}}</p><br>
                <form id="voteForm" action="/vote/{{.URL}}" method="post">
                    <table class="table table-condensed table-striped prevent-select" style="max-width: 500px;"
                           id="voteTable">
                        <thead>
                        <tr>
                            <th>Order</th>
                            <th>Candidate</th>
                            <th>Move</th>
                            <th>Remove from ballot</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{$i := 0}}
                        {{range .Candidates}}
                            <tr{{if even (inc $i)}} class="even"{{end}} id="candidate_row_{{$i}}">
                                <td>{{inc $i}}</td>
                                <td id="candidate~{{$i}}">{{.Name}}
                                    <label>
                                        <input type="text" name="order~{{$i}}" value="{{.Id}}" style="display: none"/>
                                    </label></td>
                                <td>
                                    <a class="button up">up &uarr;</a>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <a class="button down">down &darr;</a>
                                </td>
                                <td><a class="button is-warning is-light removeFromBallot">Remove from ballot</a></td>
                            </tr>
                            {{$i = inc $i}}
                        {{end}}
                        {{if .Election.Ron}}
                            <tr{{if even (inc $i)}} class="even"{{end}} id="candidate_row_{{$i}}">
                                <td>{{inc $i}}</td>
                                <td id="candidate~{{$i}}">R.O.N.
                                    <label>
                                        <input type="text" name="order~{{$i}}" value="R.O.N." style="display: none"/>
                                    </label></td>
                                <td>
                                    <a class="button up">up &uarr;</a>&nbsp;&nbsp;
                                    <a class="button down">down &darr;</a>&nbsp;&nbsp;
                                </td>
                                <td><a class="button is-warning is-light removeFromBallot">Remove from ballot</a></td>
                            </tr>
                        {{end}}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th>Order</th>
                            <th>Candidate</th>
                            <th>Move</th>
                            <th>Remove from ballot</th>
                        </tr>
                        </tfoot>
                    </table>
                    <a class="button" onclick="voteOpenModal()">Submit vote</a>
                </form>
                <br>
                <table class="table table-condensed table-striped" id="removedTable">
                    <thead>
                    <tr>
                        <th>Candidate</th>
                        <th>Include in ballot</th>
                    </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                    <tr>
                        <th>Candidate</th>
                        <th>Include in ballot</th>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <br>
        <br>
        <br>
        <div id="voteModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title">Submit vote</p>
                                <p>If you submit this vote then you cannot come back and vote again, are you
                                    sure this is your selection?<br>
                                    <strong>This action cannot be undone!</strong><br></p>
                                <button class="button is-danger" onclick="submitVoteFromModal()">Submit vote</button>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
        <div id="invalidVoteModal" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="box">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <p class="title">Unable to submit your vote</p>
                                <p><strong>You need at least one candidate to submit your vote!</strong><br></p>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
        </div>
        <script>
            document.querySelectorAll(
                ".modal-background, .modal-close,.modal-card-head .delete, .modal-card-foot .button"
            ).forEach(($el) => {
                const $modal = $el.closest(".modal");
                $el.addEventListener("click", () => {
                    $modal.classList.remove("is-active");
                });
            });

            let valid = false;

            function submitVoteFromModal() {
                if (valid) {
                    document.getElementById("voteForm").submit();
                }
            }

            function voteOpenModal() {
                let rows = 0;
                $("#voteTable").find("tr").each(function (index) {
                    if (index > 0) {
                        rows++;
                    }
                });
                if (rows >= 2) { {{/* 2 because obviously... who knows*/}}
                    document.getElementById("voteModal").classList.add("is-active");
                    valid = true;
                } else {
                    document.getElementById("invalidVoteModal").classList.add("is-active");
                }
            }

            $(document).ready(function () {
                $(document).on('click', '.up,.down', function () {
                    let row = $(this).parents("tr:first");
                    if ($(this).is(".up")) {
                        row.insertBefore(row.prev());
                    } else {
                        row.insertAfter(row.next());
                    }
                    sortRowsVote()
                });
                $(document).on('click', '.removeFromBallot', function () {
                    let row = $(this).parents("tr:first");
                    let rowId = row.attr("id")
                    let candidateTd = row.find("td").eq(1);
                    $("#removedTable").find("tbody").append('<tr><td>' + candidateTd[0].innerHTML + '</td><td><a class="button is-warning is-light includeInBallot">Include in ballot</a></td></tr>');
                    $("#" + rowId).remove();
                    sortRowsVote();
                    sortRowsRemoved();
                });
                $(document).on('click', '.includeInBallot', function () {
                    let row = $(this).parents("tr:first");
                    let rowId = row.attr("id")
                    let candidateTd = row.find("td").eq(0);
                    $("#voteTable").find("tbody").append('<tr><td>-1</td><td>' + candidateTd[0].innerHTML + '</td><td><a class="button up">up &uarr;</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="button down">down &darr;</a></td><td><a class="button is-warning is-light removeFromBallot">Remove from ballot</a></td></tr>');
                    $("#" + rowId).remove();
                    sortRowsVote();
                    sortRowsRemoved();
                });
            });

            const voteTable = $("#voteTable");

            function sortRowsVote() {
                $("#voteTable").find("tr").each(function (index) {
                    voteTable.find("tr").removeClass("even odd");
                    if (index > 0) {
                        $(this).find("td").eq(0).html(index);
                        $(this).find("td").eq(1).attr("id", "candidate~" + index)
                        $(this).find("input").eq(0).attr("name", "order~" + (index - 1));
                        $(this).attr("id", "candidate_row_" + index);
                        if (index % 2 === 0) {
                            $("#voteTable").find("tr:even").addClass("even");
                        } else {
                            $("#voteTable").find("tr:odd").addClass("odd");
                        }
                    }
                });
            }

            function sortRowsRemoved() {
                $("#removedTable").find("tr").each(function (index) {
                    voteTable.find("tr").removeClass("even odd");
                    if (index > 0) {
                        $(this).find("td").eq(0).attr("id", "candidate_removed~" + index)
                        $(this).attr("id", "candidate_removed_row_" + index);
                        if (index % 2 === 0) {
                            $("#removedTable").find("tr:even").addClass("even");
                        } else {
                            $("#removedTable").find("tr:odd").addClass("odd");
                        }
                    }
                });
            }
        </script>
    </div>
{{end}}