{{define "title"}}YSTV Elections - Vote Error{{end}}
{{define "content"}}
    <div class="container">
        <div class="card prevent-select">
            <div class="card-content">
                <p class="title">Error</p>
                <p>Unable to go to the url, error message: {{.Error}}</p>
            </div>
        </div>
    </div><br>
        <br><br>
{{end}}