name: golangci-lint
on:
  push:
    branches:
      - master
      - main
  pull_request: {}

permissions:
  contents: read
  pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: WillAbides/setup-go-faster@v1
        with:
          go-version: '1.21'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v3
        with:
          version: latest

          # Show only new issues if it's a pull request.
          only-new-issues: true
